.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-size: 1.4rem;
  margin: 10px 0;
}

button {
  padding: 8px;
  font-size: 1.4rem;
  width: 50%;
  margin: 0 auto;
}

.smurfList {
  display: flex;
  flex-direction: column;
}

.smurf-container {
display: flex;
flex-wrap: wrap;
}

.smurf {
  border: 1px solid red;
  background-color: blue;
  color: aliceblue;
  margin: 1%;
  width: 22%;
  border-radius: 10px;
}

.smurf h3 span {
  font-weight: 300;
}